

h3 {

     
    text-align: center;
    border-bottom: 1px solid #000; 
    
    line-height: 0.1em;
    margin: 40px 0 20px; 
 } 
 
 h3 span { 
     background:#fff; 
     padding:0 10px;
     
     
     

 }

 .but{
     display: flex;
    justify-content: center;

    
  
 }
 .container{
     border: 1px solid gray;
      margin-top: 100px; 
      padding: 15px;
      width: 400px;
    
 }
 .continue{
     background-color: orange;
     width: 350px;
     
     
 }
 .boxes{
     width: 350px;
     margin: 15px;
 }
 .forgot{
     float: right;
 }
 footer{
     text-align: center;
     margin-top: 20px;
 }
 
 footer ul li{
   list-style: none;
   display: inline;
   padding: 15px;
  

 }
 button{
     width: 350px;
 }
